@{
    ViewData["Title"] = "E-Catalogue Coding Camp";
}

<div class="card-body">
    <h4 class="card-title">Update Experiences</h4>
    <form class="my-login-validation" novalidate="" id="registerForm">
        <!--List Organization-->
        <div class="form-group">
            <div class="field_wrapperOrg">
                <div>
                    <label for="organization0">Organization</label><br />
                    <input id="organization0" type="text" class="form-control" name="organization0" value="" placeholder="Ex: Himpunan" required /><br />
                    <div class="invalid-feedback">
                        Organization is required
                    </div>
                    <label for="roleorganization0">Role Organization</label><br />
                    <input id="roleorganization0" type="text" class="form-control" name="roleorganization0" value="" placeholder="Ex: Ketua" required /><br />
                    <div class="invalid-feedback">
                        Role Organization is required
                    </div>
                    <a href="javascript:void(0);" class="add_buttonOrg" title="Add field">Add More Organization and Role Organization</a> <br />
                </div>
            </div>
        </div>
        <!--List Skill-->
        <div class="form-group">
            <div class="field_wrapperSkill">
                <div>
                    <label for="skill0">Skill</label>
                    <input id="skill0" type="text" class="form-control" name="skill0" placeholder="Ex: Python" required><br />
                    <div class="invalid-feedback">
                        Skill is required
                    </div>
                    <a href="javascript:void(0);" class="add_buttonSkill" title="Add field">Add More Skills</a> <br />
                </div>
            </div>
        </div>
        <!--List Work-->
        <div class="form-group">
            <div class="field_wrapperWork">
                <div>
                    <label for="work0">Work Experience</label>
                    <input id="work0" type="text" class="form-control" name="work0" placeholder="Ex: Metrodata" required><br />
                    <div class="invalid-feedback">
                        Work is required
                    </div>
                    <a href="javascript:void(0);" class="add_buttonWork" title="Add field">Add More Works</a><br />
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block" id="submit">Update</button>
    </form>
</div>

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#registerForm").submit(function (e) {
                e.preventDefault();
            });

            $.ajax({
                type: "GET",
                url: `/Candidate/GetCVId/`,
                dataSrc: '',
                success: (data) => {
                    console.log(data);
                    var obj = JSON.parse(data);

                    $("#organization0").val(`${obj.organizationName}`);
                    $("#roleorganization0").val(`${obj.roleOrganization}`);
                    $("#skill0").val(`${obj.skillName}`);
                    $("#work0").val(`${obj.workName}`);

                },
                error: (data) => {
                    console.log(JSON.stringify(data));
                }
            })

            //dynamic input Experiences Fields
            var maxField = 10; //input fields increment limitation

            //Organization Inputs
            var addButtonOrg = $('.add_buttonOrg');//add button Org
            var wrapperOrg = $('.field_wrapperOrg');//input field wrapper

            var countOrg = 1; //initial field counter Organization

            //Once add button is clicked
            $(addButtonOrg).click(function () {
                //check maximum number of input fields
                if (countOrg < maxField) {
                    $(wrapperOrg).append(`<div><label for="organization${countOrg}">Organization</label><br /><input id="organization${countOrg}" type="text" class="form-control" name="organization${countOrg}" value="" placeholder="Ex: Himpunan" required /><br /><div class="invalid-feedback">Organization is required</div><label for="roleorganization${countOrg}">Role Organization</label><br /><input id="roleorganization${countOrg}" type="text" class="form-control" name="roleorganization${countOrg}" value="" placeholder="Ex: Ketua" required /><br /><div class="invalid-feedback">Role Organization is required</div> <a href="javascript:void(0);" class="remove_button">Remove Organization and Role Organization Field</a></div>`); //add field html
                    countOrg++; //increment field counter
                }
            });

            //Once remove button is clicked
            $(wrapperOrg).on('click', '.remove_button', function (e) {
                e.preventDefault();
                $(this).parent('div').remove(); //remove field html
                countOrg--; //decrement field counter
            });

            //Skill inputs
            var wrapperSkill = $('.field_wrapperSkill');//input field wrapper
            var addButtonSkill = $('.add_buttonSkill');//add button Skill

            var countSkill = 1; //initial field counter Skills

            //Once add button is clicked
            $(addButtonSkill).click(function () {
                //check maximum number of input fields
                if (countSkill < maxField) {
                    $(wrapperSkill).append(`<div><label for="skill${countSkill}">Skill</label><input id="skill${countSkill}" type="text" class="form-control" name="skill${countSkill}" placeholder="Ex: Python" required><br /><div class="invalid-feedback">Skill is required</div> <a href="javascript:void(0);" class="remove_button">Remove Skill Field</a></div>`); //add field html
                    countSkill++; //increment field counter
                }
            });

            //Once remove button is clicked
            $(wrapperSkill).on('click', '.remove_button', function (e) {
                e.preventDefault();
                $(this).parent('div').remove(); //remove field html
                countSkill--; //decrement field counter
            });

            //Work inputs
            var wrapperWork = $('.field_wrapperWork');//input field wrapper
            var addButtonWork = $('.add_buttonWork');//add button Skill

            var countWork = 1; //initial field counter Works

            //Once add button is clicked
            $(addButtonWork).click(function () {
                //check maximum number of input fields
                if (countWork < maxField) {
                    $(wrapperWork).append(`<div><label for="work${countWork}" >Work Experience</label><input id="work${countWork}" type="text" class="form-control" name="work${countWork}" placeholder="Ex: Metrodata" required><br /><div class="invalid-feedback">Work is required</div> <a href="javascript:void(0);" class="remove_button">Remove Work Field</a></div>`); //add field html
                    countWork++; //increment field counter
                }
            });

            //Once remove button is clicked
            $(wrapperWork).on('click', '.remove_button', function (e) {
                e.preventDefault();
                $(this).parent('div').remove(); //remove field html
                countWork--; //decrement field counter
            });

            let InsertCV = () => {
                let Obj = new Object();
                Obj.Organizations = [];
                Obj.Skills = [];
                Obj.Works = [];

                for (let i = 0; i < countOrg; i++) {
                    Obj.Organizations[i] = new Object();
                    Obj.Organizations[i].OrganizationName = $(`#organization${i}`).val();
                    Obj.Organizations[i].RoleOrganization = $(`#roleorganization${i}`).val();
                }
                for (let j = 0; j < countSkill; j++) {
                    Obj.Skills[j] = new Object();
                    Obj.Skills[j].SkillName = $(`#skill${j}`).val();
                }
                for (let k = 0; k < countWork; k++) {
                    Obj.Works[k] = new Object();
                    Obj.Works[k].WorkName = $(`#work${k}`).val();
                }

                console.log(JSON.stringify(Obj));
                alert(JSON.stringify(Obj));
                $.ajax({
                    url: '/Candidate/InsertCV',
                    type: 'POST',
                    data: Obj
                }).done((result) => {
                    console.log(result);
                    sAlertAdd();
                }).fail((result) => {
                    console.log(result);
                    alert("Failed to Add Data!");
                });
            }

            $("#submit").click(function () {
                InsertCV();
            })

            let sAlertAdd = () => {
                swal({
                    title: "Done",
                    text: "Data successfully added.",
                    icon: "success",
                    button: "Ok",
                }).then(() => {
                    location.reload(true);
                });
            }


        })
       
    </script>
}