@{ ViewData["Title"] = "E-Catalogue Coding Camp";
    Layout = "/Views/Shared/_LayoutCandidate.cshtml"; }

<div class="card-body">
    <h1 class="product-title"><strong>Update Education</strong></h1><br />
    <form class="my-login-validation" novalidate="" id="registerForm">
        <!--Id-->
        <input type="hidden" class="form-control" id="id" name="id">
        <!--Major-->
        <div class="form-group">
            <label for="name">Major</label>
            <input id="major" type="text" class="form-control" name="major" placeholder="Ex: Teknik Informatika" required autofocus>
            <div class="invalid-feedback">
                Major is required
            </div>
        </div>
        <!--Univ-->
        <div class="form-group">
            <label for="univ">University</label>
            <input id="univ" type="email" class="form-control" name="univ" placeholder="Ex: Institut Teknologi Bandung" required>
            <div class="invalid-feedback">
                University is required
            </div>
        </div>
        <!--Degree-->
        <div class="form-group">
            <label for="degree">Degree</label>
            <input id="degree" type="text" class="form-control" name="degree" placeholder="Ex: S1" required data-eye>
            <div class="invalid-feedback">
                Degree is required
            </div>
        </div>
        <!--GPA-->
        <div class="form-group">
            <label for="gpa">GPA</label>
            <input id="gpa" type="text" class="form-control" name="gpa" placeholder="Ex: 3.99" required data-eye>
            <div class="invalid-feedback">GPA is required</div>
        </div>

        <button type="submit" class="btn btn-primary btn-block" id="submit">Update</button>

    </form>
</div>

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#registerForm").submit(function (e) {
                e.preventDefault();
            });

            $.ajax({
                type: "GET",
                url: `/Candidate/GetEduId/`,
                success: (data) => {
                    console.log(data);
                    var obj = JSON.parse(data);
                    console.log(obj);

                    if (obj[0]) {
                        $("#id").val(`${obj[0].Id}`);
                        $("#major").val(`${obj[0].MajorName}`);
                        $("#univ").val(`${obj[0].UniversityName}`);
                        $("#degree").val(`${obj[0].Degree}`);
                        $("#gpa").val(`${obj[0].GPA}`);
                    }
                },
                error: (data) => {
                    console.log("error");
                    console.log(JSON.stringify(data));
                }
            })

        })

        $("#submit").click(function () {
            let obj = new Object();
            obj.Id = $("#id").val();
            obj.Major = $("#major").val();
            obj.University = $("#univ").val();
            obj.Degree = $("#degree").val();
            obj.GPA = $("#gpa").val();

            if (obj.Major == "" || obj.University == "" || obj.Degree == "" || obj.GPA == "") {
                sAlertNull();
            } else {
                if (obj.Id == "") {
                    InsertEdu(obj);
                }
                else {
                    UpdateEdu(obj);
                }
            }
        })

        let InsertEdu = (Obj) => {
            console.log(JSON.stringify(Obj));
            $.ajax({
                url: '/Candidate/InsertEducation',
                type: 'POST',
                data: Obj
            }).done((result) => {
                console.log(result);
                sAlertAdd();
            }).fail((result) => {
                console.log(result);
                alert("Failed to Add Data!");
            });
        }

        let UpdateEdu = (obj) => {
            $.ajax({
                url: "/Candidate/UpdateEducation",
                type: "PUT",
                data: obj
            }).done((result) => {
                console.log(result);
                if (result == 200) {
                    sAlertPut();
                }
                else {
                    alert("status code: " + result);
                }

            }).fail((error) => {
                console.log(error);
                alert("Data can't be updated.");
            })
        }

        let sAlertAdd = () => {
            swal({
                title: "Done",
                text: "Data successfully added.",
                icon: "success",
                button: "Ok",
            }).then(() => {
                location.reload(true);
            });
        }

        let sAlertPut = () => {
            swal({
                title: "Done",
                text: "Data successfully updated.",
                icon: "success",
                button: "Ok",
            }).then(() => {
                location.reload(true);
            });
        }

        let sAlertNull = () => {
            swal({
                title: "Empty Data",
                text: "All fields should not be empty.",
                icon: "warning",
                button: "Ok",
            })
        }
    </script>
}