@{ ViewData["Title"] = "E-Catalogue Coding Camp";
                Layout = "/Views/Shared/_LayoutCandidate.cshtml"; }

<div class="card-body">

    <form class="my-login-validation" novalidate="" id="registerForm">
        <!--Id-->
        <input type="hidden" class="form-control" id="id" name="id">
        <!--Name-->
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control" name="name" placeholder="Ex: Steve Jobs" required autofocus>
            <div class="invalid-feedback">
                Name is required
            </div>
        </div>
        <!--Email-->
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" class="form-control" name="email" placeholder="Ex: youremail@gmail.com" required>
            <div class="invalid-feedback">
                Email is required
            </div>
        </div>
        <!--Phone-->
        <div class="form-group">
            <label for="phone">Phone</label>
            <input id="phone" type="text" class="form-control" name="phone" placeholder="Ex: 08123456789" required data-eye>
            <div class="invalid-feedback">
                Degree is required
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block" id="submit">Submit</button>

    </form>
</div>