@{
    ViewData["Title"] = "E-Catalogue Coding Camp";
}

<div class="text-center">
    <h1 class="display-4">Welcome To E-Catalogue Coding Camp</h1>
    <p>Place where you look for your future candidates.</p>
</div>