@{ ViewData["Title"] = "E-Catalogue Coding Camp";
    Layout = "/Views/Shared/_Layout.cshtml"; }

<h1>ID = @ViewData["candidateId"]</h1>
<div class="card-body">

    <form class="my-login-validation" novalidate="" id="registerForm">
        <!--Id-->
        <!--Name-->
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control" readonly>
            <div class="invalid-feedback">
                Name is required
            </div>
        </div>
        <!--Email-->
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" class="form-control" readonly>
            <div class="invalid-feedback">
                Email is required
            </div>
        </div>
        <!--Gender-->
        <div class="form-group">
            <label for="gender">Gender</label>
            <input id="gender" type="text" class="form-control" readonly>
            <div class="invalid-feedback">
                gender is required
            </div>
        </div>
        <!--Major-->
        <div class="form-group">
            <label for="major">Major</label>
            <input id="major" type="text" class="form-control" name="major" readonly>
            <div class="invalid-feedback">
                Major is required
            </div>
        </div>
        <!--Univ-->
        <div class="form-group">
            <label for="univ">University</label>
            <input id="univ" type="email" class="form-control" name="univ" readonly>
            <div class="invalid-feedback">
                University is required
            </div>
        </div>
        <!--Degree-->
        <div class="form-group">
            <label for="degree">Degree</label>
            <input id="degree" type="text" class="form-control" name="degree" readonly>
            <div class="invalid-feedback">
                Degree is required
            </div>
        </div>
        <!--GPA-->
        <div class="form-group">
            <label for="gpa">GPA</label>
            <input id="gpa" type="text" class="form-control" name="gpa" readonly>
            <div class="invalid-feedback">GPA is required</div>
        </div>
        <!-------------------------------------------------------------------------->
        <h5 class="product-title"><strong>Experiences</strong></h5><br /><br />
        <!--Organization-->
        <div class="field_wrapperOrg">
            <div class="form-groupOrg">
                <label for="organization0">Organization</label>
                <input id="organization0" type="text" class="form-control" name="organization0" readonly>
                <label for="roleorganization0">Role Organization</label>
                <input id="roleorganization0" type="text" class="form-control" name="roleorganization0" readonly><br />
            </div>
        </div>

        <!--Skill-->
        <div class="field_wrapperSkill">
            <div class="form-groupSkill">
                <label for="skill0">Skill</label>
                <input id="skill0" type="text" class="form-control" name="skill0" readonly><br />
            </div>
        </div>

        <!--Work-->
        <div class="field_wrapperWork">
            <div class="form-groupWork">
                <label for="work0">Work Experience</label>
                <input id="work0" type="text" class="form-control" name="work0" readonly><br />
            </div>

        </div>


    </form>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#registerForm").submit(function (e) {
                e.preventDefault();
            });

            $.ajax({
                type: "GET",
                url: `GetDetail/@ViewData["candidateId"]`,
                success: (data) => {
                    console.log(data);
                    var obj = JSON.parse(data);
                    console.log(obj);

                    $("#name").val(`${obj.Name}`);
                    $("#email").val(`${obj.Email}`);
                    $("#gender").val(`${obj.Gender}`);
                    $("#degree").val(`${obj.Degree}`);
                    $("#gpa").val(`${obj.GPA}`);
                    $("#major").val(`${obj.MajorName}`);
                    $("#univ").val(`${obj.UnivName}`);

                },
                error: (data) => {
                    console.log("error");
                    console.log(JSON.stringify(data));
                }
            })

            $.ajax({
                type: "GET",
                url: `GetDetailCV/@ViewData["candidateId"]`,
                success: (data) => {
                    console.log(data);
                    var obj = JSON.parse(data);
                    console.log(obj);

                    if (obj.organizations.length > 0) {
                        $("#organization0").val(`${obj.organizations[0].OrganizationName}`);
                        $("#roleorganization0").val(`${obj.organizations[0].RoleOrganization}`);
                        for (let ij = 1; ij < obj.organizations.length; ij++) {
                            $('.field_wrapperOrg').append(`<div class="field_wrapperOrg"><div class="form-groupOrg"><label for="organization${ij}">Organization</label><input id="organization${ij}" type="text" class="form-control" name="organization${ij}" readonly><label for="roleorganization${ij}">Role Organization</label><input id="roleorganization${ij}" type="text" class="form-control" name="roleorganization${ij}" readonly><br /></div></div>`); //add field html
                            console.log(ij);
                            $(`#organization${ij}`).val(`${obj.organizations[ij].OrganizationName}`);
                            $(`#roleorganization${ij}`).val(`${obj.organizations[ij].RoleOrganization}`);
                        }
                    }

                    if (obj.skills.length > 0) {
                        $("#skill0").val(`${obj.skills[0].SkillName}`);
                        for (let ik = 1; ik < obj.skills.length; ik++) {
                            $('.field_wrapperSkill').append(`<div class="field_wrapperSkill"><div class="form-groupSkill"><label for="skill${ik}">Skill</label><input id="skill${ik}" type="text" class="form-control" name="skill${ik}" readonly><br /></div></div>`); //add field html
                            console.log(ik);
                            $(`#skill${ik}`).val(`${obj.skills[ik].SkillName}`);
                        }
                    }

                    if (obj.works.length > 0) {
                        $("#work0").val(`${obj.works[0].WorkName}`);
                        for (let il = 1; il < obj.works.length; il++) {
                            $('.field_wrapperWork').append(`<div class="field_wrapperWork"><div class="form-groupWork"><label for="work${il}">Work Experience</label><input id="work${il}" type="text" class="form-control" name="work${il}" readonly><br /></div></div>`); //add field html
                            console.log(il);
                            $(`#work${il}`).val(`${obj.works[il].WorkName}`);
                        }
                    }
                    console.log("Length masing masing");
                    console.log(obj.organizations.length);
                    console.log(obj.skills.length);
                    console.log(obj.works.length);
                },
                error: (data) => {
                    console.log("error");
                    console.log(JSON.stringify(data));
                }
            })

        })
    </script>

}