@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Login Page";
}

<div class="h-100" id="modalForm">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <img src="~/img/logo.jpg" alt="bootstrap 4 login page">
                </div>
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">Register as Candidate</h4>
                        <form class="my-login-validation" novalidate="" id="registerForm">
                            <!--Name-->
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input id="name" type="text" class="form-control" name="name" required autofocus>
                                <div class="invalid-feedback">
                                    What's your name?
                                </div>
                            </div>
                            <!--Email-->
                            <div class="form-group">
                                <label for="email">Email Address</label>
                                <input id="email" type="email" class="form-control" name="email" required>
                                <div class="invalid-feedback">
                                    Your email is invalid
                                </div>
                            </div>
                            <!--Password-->
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input id="password" type="password" class="form-control" name="password" required
                                       data-eye>
                                <div class="invalid-feedback">
                                    Password is required
                                </div>
                            </div>
                            <!--Birth Date-->
                            <div class="form-group">
                                <label for="birthdate">Birth Date</label>
                                <input id="birthdate" type="date" class="form-control" name="birthdate" required
                                       data-eye>
                                <div class="invalid-feedback">
                                    Birthdate is required
                                </div>
                            </div>
                            <!--Gender-->
                            <fieldset class="form-group">
                                <div class="row form-group" >
                                    <label class="col-form-label">Gender</label>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gender" id="male" value="Pria" required>
                                            <label class="form-check-label" for="male">Male</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please Choose Gender.</div>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gender" id="female" value="Wanita" required>
                                            <label class="form-check-label" for="female">Female</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please Choose Gender.</div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <!--Phone-->
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input id="phone" type="text" class="form-control" name="phone" required data-eye>
                                <div class="invalid-feedback">phone is required</div>
                            </div>
                            <!--JobRole-->
                            <div class="form-group">
                                <label for="JobRoleId">Job Role</label>
                                <select class="dropdown" id="JobRoleId">
                                    <option selected disabled> Job Role </option>
                                    <option value="1" >Front End Developer</option>
                                    <option value="2" >Back End Developer</option>
                                </select>
                                @*<input id="JobRoleId" type="text" class="form-control" name="JobRoleId" required data-eye>*@
                                <div class="invalid-feedback">
                                    Job role is required
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" id="submit">Register</button>
                            <div class="mt-4 text-center">
                                Already have an account? <a asp-area="" asp-controller="Authentication" asp-action="Index">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            //$(".dropdown").change(function () {
            //    var element = document.getElementById("#JobRoleId");
            //    var selected = element.options[element.selectedIndex].value;
            //    var urlSelected = `https://localhost:44321/api/JobRoles/job/${selected}`;
            //    console.log(urlSelected);

            //});

            $("#registerForm").submit(function (e) {
                e.preventDefault();
            });

            $("#candidate").click(function () {
                let fired_button = $("#candidate").val();
                alert(fired_button);
                $("#birthdate").show();
                $("#gender").show();
                $("#JobRoleId").show();
            });

            $("#client").click(function () {
                let fired_button = $("#client").val();
                alert(fired_button);
                $("#birthdate").hide();
                $("#gender").hide();
                $("#JobRoleId").hide();
            });

            
            
        })

        let Register = () => {
            let User = new Object();
            User.Name = $("#name").val();
            User.Email = $("#email").val();
            User.Password = $("#password").val();
            User.BirthDate = $("#birthdate").val();
            User.Gender = $("input[type='radio'][name='gender']:checked").val();
            User.Phone = $("#phone").val();
            User.JobRoleId = $("#JobRoleId").val();
            User.RoleId = 1;

            console.log(JSON.stringify(User));
            alert(JSON.stringify(User));
            $.ajax({
                url: '/Authentication/Register',
                type: 'POST',
                data: User
            }).done((result) => {
                console.log(result);
                window.location.href = result;
            }).fail((result) => {
                console.log(result);
                alert("Failed to Add Data!");
            });
        }

        $("#submit").click(function () {
            Register();
        })

        //let getRoleValue = (str) => {
        //    let roleValue = 
        //}


    </script>
}